@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
  .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -25%);
    color: #ffffff;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    min-width: 97%;
    max-width: 97%;
    background-color: rgba(0, 0, 0, 0.411);
    right: 10px;
    border-radius: 10px;
  }

  ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    font-size: 14px;
    text-shadow: 0.5px 0.5px 0 #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000;
  }
  
  h2 {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: .125rem;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }

  .hero {
    color: #fff;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

header {
    background-image: linear- gradient(rgba (0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image.jpg);
    background-position: center;
    background-size: cover;
}

h1{
    font-size: 60px;
    font-weight: 300;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.video-background {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -100;
}

hr{
    width: 70%;
    margin: 30px auto;
    border: 0.5px solid #fff;
}

#myVideo {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span{
    margin-bottom: 5px;
}


/* header {
    background-image: linear- gradient(rgba (0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.hero {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

h1{
    font-size: 60px;
    letter-spacing: 15px;
}

hr{
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid #fff;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat";
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
    opacity: .2;
}

.container{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

h1{
    font-size: 80px;
    margin-bottom: 40px;
}

h3{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.progress-bar{
    width: 360px;
    height: 12px;
    background-color: #d1d1d1;
    margin: auto;
    margin-bottom: 100px;
    opacity: .8;
    position: relative;
}

.progress-bar::before{
    content: "0%";
    position: absolute;
    left: 0;
    font-size: 12px;
    bottom: -18px;
}

.progress-bar::after{
    content: "100%";
    position: absolute;
    right: 0;
    font-size: 12px;
    bottom: -18px;
}

.progress-bar span{
    display: block;
    width: 80%;
    height: 12px;
    background-color: #87b1de;
    animation: fill 1s ease-in 1;
}

@keyframes fill{
    from{
        width: 0;
    }
    
    to{
        width: 80%;
    }
}

.sm a{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #87b1de;
    line-height: 60px;
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    margin: 0 10px;
    opacity: .7;
    transition: .3s linear;
}

.sm a:hover{
    transform: scale(1.1);
    opacity: 1;
} */
